.venv/
venv/
.vscode/
pyvenv.cfg
db.sqlite3
commands.txt
sentiment/__pycache__/*.pyc
sentiment/module/__pycache__/*.pyc
sentiment/migrations/__pycache__/*.pyc
twitterSentimentApp/__pycache__/*.pyc
twitterSentimentApp/settings/__pycache__/*.pyc