<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Sentiment Analysis</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'sentiment/img/favicon/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'sentiment/css/mystyle.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'sentiment/js/index.js' %}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark my_background">
            <a class="navbar-brand" href="{% url 'sentiment:home' %}"><i class="bi bi-twitter h4 pr-2"></i>Twitter
                Sentiment Analysis</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto pr-3" id="navigation">
                    <li class="nav-item my_hover">
                        <a class="nav-link" href="{% url 'sentiment:about' %}" tabindex="-1"><i
                                class="bi bi-info-circle-fill pr-1"></i>About</a>
                    </li>
                    <li class="nav-item my_hover">
                        <a class="nav-link" href="{% url 'sentiment:how_to' %}" tabindex="-1"><i
                                class="bi bi-journal-text pr-1"></i>How to</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div id="loading">
        <img class="animated-gif" src="{% static 'sentiment/img/loadingimage.gif' %}" alt="">
        <p class="blockquote">Loading...</p>
        <p class="blockquote">Please wait for 20 seconds</p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </div>

    <footer class="footer fixed-bottom my_background">
        <div class="container">
            <p class="lead text-center pt-1 text-light">Thanks for Visiting us!</p>
        </div>
    </footer>
    <script type="text/javascript">
        var styles = {
            "display": "block",
            "width": "100%",
            "height": "100%",
            "margin": "auto",
            "position": "absolute",
            "top": "45%",
            "text-align": "center"
        }
        document.documentElement.style.overflowY = "hidden";
        document.body.style.overflowY = "hidden";
        var obj = document.getElementById("loading");
        Object.assign(obj.style, styles);
    </script>
</body>

</html>